<app-header-career-tech-education [showWestMECNortheastCampusPhoenixVerbiage]="true"></app-header-career-tech-education>


<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-2.jpg" class="masonry-image" alt="West-MEC Northeast Campus exterior, Phoenix AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-3.JPG" class="masonry-image" alt="West-MEC Northeast Campus Building A renovation, Phoenix AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-4.jpg" class="masonry-image" alt="West-MEC Northeast Campus Building B, Phoenix AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-5.jpg" class="masonry-image" alt="West-MEC Northeast Campus Health Sciences lab, Phoenix AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%201.JPG" class="masonry-image" alt="West-MEC Northeast Campus main entry, Phoenix AZ">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>





















