<app-header-specialty-schools [showLaveenElementrySchoolVerbiage]="true"></app-header-specialty-schools>



<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen_1a.jpg" class="masonry-image" alt="Laveen Elementary School exterior, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen_4.JPG" class="masonry-image" alt="Laveen Elementary School campus overview, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen_1.jpg" class="masonry-image" alt="Laveen Elementary School main building, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen%20Courtyard.jpg" class="masonry-image" alt="Laveen Elementary School courtyard, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen%20Pre-k.jpg" class="masonry-image" alt="Laveen Elementary School Pre-K and Kindergarten building, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen_DSCN3508.JPG" class="masonry-image" alt="Laveen Elementary School media center with butterfly motif glass gems, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen%20Int_DSCN3648.jpg" class="masonry-image" alt="Laveen Elementary School interior classroom, Laveen AZ">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/Laveen_DSCN3615.JPG" class="masonry-image" alt="Laveen Elementary School interior detail, Laveen AZ">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>














